* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16x;
}

body {
    background-color:rgb(66, 21, 109);
}

main {
    background-color: burlywood;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(6, 0, 12);
}